@{
        ViewData["Title"] = "Favorites";
        Layout = "~/Views/Shared/_TestLayout.cshtml";
    }



<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tasar Yeri | Kategoriler</title>
    <link rel="shortcut icon" href="/images/lg.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Little Closet template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap-4.1.2/bootstrap.min.css">
    <link rel="stylesheet" type="text/css  href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css"">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="/styles/favorites.css">
    <link rel="stylesheet" type="text/css" href="/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="/styles/category_responsive.css">
</head>
<body>

    <div class="super_container">
        <div class="super_container_inner">
            <div class="super_overlay"></div>

            
</body>
</html>

