 @model TasarYeri.DAL.Entities.Seller


    <div class="header_phone d-flex flex-row align-items-center justify-content-start">
        <div class="box2">
            <a class="review_form_button">Sende sat</a>
        </div>
        <button type="submit" asp-action="RolAta" asp-controller="Home" asp-route-id="@Model.ID" class="login100-form-btn">Sen de sat</button>
    </div>
